@model Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Ürün Güncelleme Sayfası</h3>
<br />

<form method="post">
    <input type="hidden" asp-for="ProductId" />

    <label>Ürün Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <label>Resim URL</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />

    <label>Fiyat</label>
    <input type="number" asp-for="Price" class="form-control" step="0.01" />
    <br />

    <label>Stok</label>
    <input type="number" asp-for="StockAmount" class="form-control" />
    <br />

    <label>Kategori</label>
    <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">
        <option value="">-- Kategori Seçiniz --</option>
    </select>
    <br />

    <button type="submit" class="btn btn-outline-primary">Güncelle</button>
</form>

