@using static InstrumentTrade.WebUI.Areas.Customer.Models.ChangePaswordViewModel
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<br />
<br />
<br />
<br />
<br />

<div class="container mt-5 mb-5">
    <h3 class="text-center font-weight-bold mb-4" style="font-size: 28px;">Şifre Değiştirme Sayfası</h3>


    <form method="post" >
        <div class="form-group">
            <label>Mevcut Şifreniz</label>
            <input asp-for="OldPassword" type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label>Yeni Şifreniz</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label>Yeni Şifre Tekrar</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
        </div>
        <div>
            @ViewBag.Success
        </div>
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
        <button type="submit" class="btn btn-success btn-block mt-3">Şifreyi Güncelle</button>
    </form>

</div>

